/*===========================
     01.COMMON CSS 
===========================*/
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
:root {
  --font-unbounded: "Unbounded", sans-serif;
  --primary-color: #F4CB0A;
  --primary-color-opc: 244, 203, 10;
  --primary-color2: #000000;
  --primary-color2-opc: 0, 0, 0;
  --title-color: #1A1A1A;
  --title-color-opc: 26, 26, 26;
  --white-color: #fff;
  --paragraph-color: #545454;
  --paragraph-color-opc: 84, 84, 84;
  --border-color: #EEEEEE;
  --border-color-opc: 230, 230, 230;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 0 solid;
  box-shadow: unset;
}

input, textarea {
  border-radius: 0px;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: var(--font-unbounded);
  font-weight: 400;
  overflow-x: hidden;
}
body.sign-up-staff-bg {
  background-image: url(../img/home/sign-up-staff-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-unbounded);
  font-weight: 500;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  color: var(--paragraph-color);
  font-family: var(--font-unbounded);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

button {
  border: unset;
}

input,
select,
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.pt-130 {
  padding-top: 130px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pt-130 {
    padding-top: 100px;
  }
}
@media (max-width: 991px) {
  .pt-130 {
    padding-top: 90px;
  }
}

.pb-130 {
  padding-bottom: 130px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pb-130 {
    padding-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .pb-130 {
    padding-bottom: 90px;
  }
}

.pt-120 {
  padding-top: 120px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pt-120 {
    padding-top: 90px;
  }
}
@media (max-width: 991px) {
  .pt-120 {
    padding-top: 80px;
  }
}

.pt-110 {
  padding-top: 110px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pt-110 {
    padding-top: 90px;
  }
}
@media (max-width: 991px) {
  .pt-110 {
    padding-top: 70px;
  }
}

.pt-90 {
  padding-top: 90px;
}
@media (max-width: 991px) {
  .pt-90 {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .pt-90 {
    padding-top: 70px;
  }
}

.pb-90 {
  padding-bottom: 90px;
}
@media (max-width: 991px) {
  .pb-90 {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .pb-90 {
    padding-bottom: 70px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pb-80 {
    padding-bottom: 60px;
  }
}

.pb-65 {
  padding-bottom: 65px;
}

.mt-130 {
  margin-top: 130px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mt-130 {
    margin-top: 100px;
  }
}
@media (max-width: 991px) {
  .mt-130 {
    margin-top: 90px;
  }
}

.mt-120 {
  margin-top: 120px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mt-120 {
    margin-top: 100px;
  }
}
@media (max-width: 991px) {
  .mt-120 {
    margin-top: 90px;
  }
}

.mb-130 {
  margin-bottom: 130px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mb-130 {
    margin-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .mb-130 {
    margin-bottom: 90px;
  }
}

.mb-120 {
  margin-bottom: 120px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mb-120 {
    margin-bottom: 90px;
  }
}
@media (max-width: 991px) {
  .mb-120 {
    margin-bottom: 80px;
  }
}

.mb-110 {
  margin-bottom: 110px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mb-110 {
    margin-bottom: 90px;
  }
}
@media (max-width: 991px) {
  .mb-110 {
    margin-bottom: 80px;
  }
}

.mb-100 {
  margin-bottom: 110px;
}
@media (max-width: 991px) {
  .mb-100 {
    margin-bottom: 80px;
  }
}

.mt-100 {
  margin-top: 110px !important;
}
@media (max-width: 991px) {
  .mt-100 {
    margin-top: 80px !important;
  }
}

.mb-90 {
  margin-bottom: 90px;
}
@media (max-width: 991px) {
  .mb-90 {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .mb-90 {
    margin-bottom: 50px;
  }
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .mb-60 {
    margin-bottom: 50px;
  }
}
@media (max-width: 991px) {
  .mb-60 {
    margin-bottom: 40px;
  }
}

.mb-70 {
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .mb-70 {
    margin-bottom: 50px;
  }
}

.mb-50 {
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  .mb-50 {
    margin-bottom: 40px;
  }
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-44 {
  margin-bottom: 44px;
}
@media (max-width: 991px) {
  .mb-44 {
    margin-bottom: 0px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .mb-50 {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .mb-50 {
    margin-bottom: 30px;
  }
}

.mt-60 {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .mt-60 {
    margin-top: 40px;
  }
}

.mt-70 {
  margin-top: 70px;
}
@media (max-width: 767px) {
  .mt-70 {
    margin-top: 40px;
  }
}

.primary-btn {
  border-radius: 5px;
  background-color: var(--primary-color);
  font-family: var(--font-unbounded);
  font-weight: 500;
  font-size: 15px;
  color: var(--title-color);
  padding: 20px 25px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  line-height: 1;
}
.primary-btn::after {
  position: absolute;
  content: "";
  display: block;
  left: 15%;
  right: -20%;
  top: -4%;
  height: 150%;
  width: 150%;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--title-color);
  transform: skewX(45deg) scale(0, 1);
  z-index: -1;
  transition: all 0.5s ease-out 0s;
}
.primary-btn:hover {
  color: var(--white-color);
}
.primary-btn:hover::after {
  transform: skewX(45deg) scale(1, 1);
}

.form-inner {
  position: relative;
  line-height: 1;
}
.form-inner label {
  color: var(--title-color);
  font-family: var(--font-unbounded);
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.form-inner input {
  background: #F6F2F8;
  color: var(--title-color);
  font-family: var(--font-unbounded);
  font-size: 14px;
  font-weight: 500;
  height: 56px;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
}
.form-inner input::-moz-placeholder {
  color: var(--paragraph-color);
  font-weight: 400;
}
.form-inner input::placeholder {
  color: var(--paragraph-color);
  font-weight: 400;
}
.form-inner input:focus {
  border: 1px solid var(--title-color);
  background-color: var(--white-color);
}
.form-inner textarea {
  background: var(--white-color);
  color: var(--title-color);
  font-family: var(--font-unbounded);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding: 20px 20px;
  outline: none;
  border: 1px solid var(--border-color);
  min-height: 120px;
  border-radius: 5px;
}
.form-inner textarea::-moz-placeholder {
  color: #7C7C7C;
}
.form-inner textarea::placeholder {
  color: #7C7C7C;
}
.form-inner textarea:focus {
  border: 1px solid var(--primary-color);
}
.form-inner i {
  position: absolute;
  right: 20px;
  bottom: 18px;
  color: var(--paragraph-color);
  cursor: pointer;
}

.form-inner2 .form-check {
  min-height: unset;
  margin-bottom: 0;
}
.form-inner2 .form-check .form-check-input {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-top: 5px;
  border-radius: 4px;
}
.form-inner2 .form-check .form-check-input:focus {
  box-shadow: none;
  border-color: var(--primary-color3);
}
.form-inner2 .form-check .form-check-input:checked {
  background-color: #0075FF;
  border-color: #0075FF;
}
.form-inner2 .form-check .form-check-label {
  cursor: pointer;
  color: var(--paragraph-color);
  font-family: var(--font-unbounded);
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 576px) {
  .form-inner2 .form-check .form-check-label {
    font-size: 12px;
  }
}

.section-title > span {
  color: var(--primary-color2);
  font-family: var(--font-unbounded);
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}
.section-title h2 {
  color: var(--title-color);
  font-family: var(--font-unbounded);
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
}
@media (max-width: 1399px) {
  .section-title h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .section-title h2 {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .section-title h2 {
    font-size: 32px;
  }
}
.section-title h2 span {
  color: rgba(var(--title-color-opc), 0.5);
  font-weight: 700;
}
.section-title p {
  color: var(--paragraph-color);
  font-family: var(--font-unbounded);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 0;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .section-title p {
    font-size: 16px;
  }
}
.section-title .primary-btn2 {
  margin-top: 50px;
}
@media (max-width: 991px) {
  .section-title .primary-btn2 {
    margin-top: 30px;
  }
}
.section-title.white h2 {
  color: var(--white-color);
}
.section-title.white p {
  color: rgba(255, 255, 255, 0.7);
}
.section-title.two > span {
  display: flex;
  align-items: center;
  gap: 3px;
  text-transform: lowercase;
  font-size: 16px;
  font-weight: 600;
}
.section-title.two > span svg {
  fill: var(--primary-color2);
  min-width: 6px;
}
.section-title.two h2 span {
  line-height: 1;
  border-bottom: 4px solid rgba(var(--title-color-opc), 0.5);
}
.section-title.two.txt-center {
  text-align: center;
}
.section-title.two.txt-center > span {
  justify-content: center;
}
.section-title.two.white h2 {
  color: var(--white-color);
}
.section-title.two.white h2 span {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}
.section-title.three h2 {
  color: rgba(var(--title-color2-opc), 0.8);
  font-weight: 600;
}
.section-title.three h2 span {
  color: var(--title-color2);
  font-weight: 700;
}
.section-title.four > span {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--primary-color2);
  display: inline-block;
}
.section-title.four h2 {
  font-size: 40px;
  color: var(--white-color);
}
@media (max-width: 767px) {
  .section-title.four h2 {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .section-title.four h2 {
    font-size: 32px;
  }
}
.section-title.four h2 span {
  color: rgba(255, 255, 255, 0.5);
}

.slider-btn-grp {
  display: flex;
  align-items: center;
  gap: 20px;
}
.slider-btn-grp .slider-btn {
  min-width: 35px;
  max-width: 35px;
  height: 35px;
  background-color: rgba(var(--primary-color3-opc), 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.slider-btn-grp .slider-btn svg {
  fill: var(--white-color);
  transition: 0.5s;
}
.slider-btn-grp .slider-btn:hover {
  background-color: var(--primary-color);
}
.slider-btn-grp .slider-btn.swiper-button-disabled {
  opacity: 0.2;
}
.slider-btn-grp.two .slider-btn {
  background-color: transparent;
  border: 1px solid var(--title-color2);
}
.slider-btn-grp.two .slider-btn svg {
  fill: var(--title-color2);
}
.slider-btn-grp.two .slider-btn:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}
.slider-btn-grp.two .slider-btn:hover svg {
  fill: var(--white-color);
}

.nice-select {
  width: 100%;
  background: #F6F2F8;
  border-radius: 5px;
  height: 56px;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0px 25px;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid transparent;
}
@media (max-width: 576px) {
  .nice-select {
    padding: 0px 18px;
  }
}
.nice-select::after {
  height: unset;
  width: unset;
  border-bottom: unset;
  border-right: unset;
  right: 28px;
  margin-top: -5px;
  content: "\f229";
  font-family: bootstrap-icons;
  transform: unset;
  transition: all 0.15s ease-in-out;
}
.nice-select.open::after {
  content: "\f235";
  transform: rotate(0);
}
.nice-select .current {
  color: rgba(var(--title-color-opc), 0.5);
  font-family: var(--font-unbounded);
  font-size: 14px;
  font-weight: 500;
}
.nice-select:focus {
  border-color: var(--title-color);
  background-color: var(--white-color);
}
.nice-select .list {
  border: none;
  border-radius: 5px;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}
.nice-select .list::-webkit-scrollbar {
  width: 5px;
}
.nice-select .list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nice-select .list::-webkit-scrollbar-thumb {
  background: var(--text-color);
}
.nice-select .list .option {
  color: var(--title-color);
  font-family: var(--font-unbounded);
  font-size: 14px;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/*=====================================
 02. Header CSS 
========================================*/
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: scaleY(0);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
  }
}
.topbar-area {
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color);
  margin: 0 20px;
}
@media (max-width: 1199px) {
  .topbar-area {
    margin: 0 10px;
  }
}
@media (max-width: 991px) {
  .topbar-area {
    display: none;
  }
}
.topbar-area .contact-area ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1199px) {
  .topbar-area .contact-area ul {
    gap: 40px;
  }
}
.topbar-area .contact-area ul li {
  position: relative;
}
.topbar-area .contact-area ul li::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: rgba(var(--primary-color3-opc), 0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}
@media (max-width: 1199px) {
  .topbar-area .contact-area ul li::before {
    left: -20px;
  }
}
.topbar-area .contact-area ul li:first-child::before {
  display: none;
}
.topbar-area .contact-area ul li a {
  color: rgba(var(--title-color-opc), 0.6);
  font-family: var(--font-unbounded);
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.5s;
}
.topbar-area .contact-area ul li a svg {
  fill: rgba(var(--title-color-opc), 0.6);
  transition: 0.5s;
}
.topbar-area .contact-area ul li a:hover {
  color: var(--primary-color2);
}
.topbar-area .contact-area ul li a:hover svg {
  fill: var(--primary-color2);
}
.topbar-area .social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.topbar-area .social-list li {
  display: block;
  text-align: center;
}
.topbar-area .social-list li a i {
  color: rgba(var(--title-color-opc), 0.6);
  font-size: 18px;
  transition: 0.5s;
}
.topbar-area .social-list li:hover a i {
  color: var(--primary-color2);
}
.topbar-area .address-area svg {
  fill: rgba(var(--title-color-opc), 0.6);
  transition: 0.5s;
}
.topbar-area .address-area a {
  color: rgba(var(--title-color-opc), 0.6);
  font-family: var(--font-unbounded);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  transition: 0.5s;
}
.topbar-area .address-area:hover svg {
  fill: var(--primary-color2);
}
.topbar-area .address-area:hover a {
  color: var(--primary-color2);
}
.topbar-area.two {
  padding: 8px 100px;
  margin: 0;
  border-bottom: 1px solid rgba(var(--primary-color3-opc), 0.08);
}
@media (max-width: 1799px) {
  .topbar-area.two {
    padding: 8px 90px;
  }
}
@media (max-width: 1699px) {
  .topbar-area.two {
    padding: 8px 80px;
  }
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .topbar-area.two {
    padding: 8px 50px;
  }
}
@media (max-width: 1399px) {
  .topbar-area.two {
    padding: 8px 20px;
  }
}

header.style-1 {
  position: absolute;
  width: 100%;
  z-index: 99;
  transition: all 0.8s ease-out 0s;
  background-color: transparent;
}
header.style-1.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-sizing: border-box;
  background-color: var(--white-color);
  box-shadow: 5px 3px 40px rgba(0, 72, 88, 0.1);
  z-index: 9999;
}
@keyframes smooth-header {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 991px) {
  header.style-1 .header-logo {
    padding: 15px 0;
  }
}
header.style-1 .header-logo a img {
  width: 150px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  header.style-1 .header-logo a img {
    width: 140px;
  }
}
@media (max-width: 576px) {
  header.style-1 .header-logo a img {
    width: 140px;
  }
}
header.style-1 .nav-right {
  display: flex;
  align-items: center;
  gap: 35px;
}
@media (max-width: 1199px) {
  header.style-1 .nav-right {
    gap: 25px;
  }
}
header.style-1 .nav-right .right-sidebar-button {
  cursor: pointer;
}
header.style-1 .nav-right .right-sidebar-button svg {
  fill: var(--title-color);
}
header.style-1 .nav-right .mobile-menu-btn {
  display: none;
  visibility: hidden;
}
@media (max-width: 991px) {
  header.style-1 .nav-right .mobile-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: end;
    visibility: visible;
    justify-content: center;
    position: relative;
  }
  header.style-1 .nav-right .mobile-menu-btn svg {
    fill: var(--title-color);
  }
}
header.style-1 .primary-btn {
  background-color: var(--primary-color2);
  padding: 16px 22px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  header.style-1 .primary-btn {
    padding: 14px 16px;
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  header.style-1 .primary-btn {
    padding: 15px 18px;
    width: 100%;
    justify-content: center;
  }
}
header.style-1 .primary-btn:hover {
  background-color: var(--primary-color3);
}
header.style-1 .main-menu {
  display: inline-block;
  position: relative;
}
header.style-1 .main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header.style-1 .main-menu ul > li {
  display: inline-block;
  position: relative;
}
header.style-1 .main-menu ul > li svg {
  fill: var(--primary-color);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.5s ease-out 0s;
}
@media (max-width: 1399px) {
  header.style-1 .main-menu ul > li svg {
    right: 5px;
  }
}
@media (max-width: 1199px) {
  header.style-1 .main-menu ul > li svg {
    right: 0;
  }
}
@media (max-width: 991px) {
  header.style-1 .main-menu ul > li svg {
    display: none;
  }
}
@media (max-width: 991px) {
  header.style-1 .main-menu ul > li {
    padding: 22px 0px;
  }
}
header.style-1 .main-menu ul > li:first-child {
  padding-left: 0;
}
header.style-1 .main-menu ul > li > a {
  color: var(--title-color);
  display: block;
  text-transform: capitalize;
  padding: 34px 25px;
  position: relative;
  font-family: var(--font-unbounded);
  font-weight: 500;
  font-size: 15px;
  transition: all 0.5s ease-out 0s;
  position: relative;
  border-radius: 15px;
  line-height: 1;
}
@media (max-width: 1399px) {
  header.style-1 .main-menu ul > li > a {
    font-size: 14px;
    padding: 34px 20px;
  }
}
@media (max-width: 1199px) {
  header.style-1 .main-menu ul > li > a {
    padding: 34px 15px;
  }
}
header.style-1 .main-menu ul > li i {
  font-size: 20px;
  text-align: center;
  color: var(--white-color);
  font-style: normal;
  position: absolute;
  right: -5px;
  top: 35px;
  z-index: 999;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-out 0s;
  opacity: 0;
}
@media (max-width: 991px) {
  header.style-1 .main-menu ul > li i {
    opacity: 1;
  }
}
header.style-1 .main-menu ul > li i.active {
  color: var(--primary-color);
}
header.style-1 .main-menu ul > li i.active::before {
  content: "\f2ea";
}
header.style-1 .main-menu ul > li ul.sub-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 82px;
  margin: 0;
  display: none;
  min-width: 215px;
  background: var(--white-color);
  border: 1px solid rgba(13, 23, 32, 0.0784313725);
  text-align: left;
}
header.style-1 .main-menu ul > li ul.sub-menu > li {
  padding: 0;
  display: block;
  position: relative;
}
header.style-1 .main-menu ul > li ul.sub-menu > li i {
  position: absolute;
  top: 10px;
  right: 6px;
  display: block;
  color: var(--title-color);
  font-size: 20px;
}
header.style-1 .main-menu ul > li ul.sub-menu > li .dropdown-icon {
  color: var(--title-color);
  opacity: 1;
  top: 15px;
  font-size: 13px;
  right: 15px;
}
@media (max-width: 991px) {
  header.style-1 .main-menu ul > li ul.sub-menu > li .dropdown-icon {
    right: 0;
    color: var(--white-color);
    top: 8px;
    font-size: 20px;
  }
}
header.style-1 .main-menu ul > li ul.sub-menu > li .dropdown-icon2 {
  color: var(--title-color);
  opacity: 1;
  top: 14px;
  right: 10px;
  font-size: 13px;
}
@media (max-width: 1199px) {
  header.style-1 .main-menu ul > li ul.sub-menu > li .dropdown-icon2::before {
    content: "\f4fe";
  }
}
header.style-1 .main-menu ul > li ul.sub-menu > li > a {
  display: block;
  padding: 14px 20px;
  font-family: var(--font-unbounded);
  color: var(--title-color);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 1.4;
  transition: all 0.4s ease-out 0s;
  position: relative;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(13, 23, 32, 0.0784313725);
}
header.style-1 .main-menu ul > li ul.sub-menu > li > a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background: linear-gradient(90deg, #fff, #7572FD, #fff);
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.4s ease-in;
  z-index: 1;
}
@media (max-width: 991px) {
  header.style-1 .main-menu ul > li ul.sub-menu > li > a {
    border-color: rgba(13, 23, 32, 0.0784313725);
  }
  header.style-1 .main-menu ul > li ul.sub-menu > li > a::before {
    background: linear-gradient(90deg, #525252, #EC6219, #525252);
  }
}
header.style-1 .main-menu ul > li ul.sub-menu > li > a:hover {
  color: var(--primary-color);
}
header.style-1 .main-menu ul > li ul.sub-menu > li > a:hover::before {
  transform: scale(1);
}
header.style-1 .main-menu ul > li ul.sub-menu > li > a.active {
  color: var(--primary-color);
}
header.style-1 .main-menu ul > li ul.sub-menu > li > a.active::before {
  transform: scale(1);
}
header.style-1 .main-menu ul > li ul.sub-menu > li:last-child a {
  border-bottom: none;
}
header.style-1 .main-menu ul > li ul.sub-menu > li:last-child a::before {
  display: none;
}
header.style-1 .main-menu ul > li ul.sub-menu > li:last-child .sub-menu li a {
  border-bottom: 1px solid rgba(13, 23, 32, 0.0784313725);
}
header.style-1 .main-menu ul > li ul.sub-menu > li:last-child .sub-menu li a::before {
  display: block;
}
header.style-1 .main-menu ul > li ul.sub-menu > li:last-child .sub-menu li:last-child a {
  border-bottom: none;
}
header.style-1 .main-menu ul > li ul.sub-menu > li:last-child .sub-menu li:last-child a::before {
  display: none;
}
header.style-1 .main-menu ul > li ul.sub-menu > li:hover > a {
  color: var(--primary-color);
}
header.style-1 .main-menu ul > li ul.sub-menu > li:hover .dropdown-icon {
  color: var(--primary-color);
}
header.style-1 .main-menu ul > li ul.sub-menu > li:hover .dropdown-icon2 {
  color: var(--primary-color);
}
header.style-1 .main-menu ul > li ul.sub-menu > li.active > a {
  color: var(--primary-color);
}
header.style-1 .main-menu ul > li ul.sub-menu > li.active .dropdown-icon {
  color: var(--primary-color);
}
header.style-1 .main-menu ul > li ul.sub-menu > li.active .dropdown-icon2 {
  color: var(--primary-color);
}
header.style-1 .main-menu ul > li ul.sub-menu > li .sub-menu {
  left: 100%;
  position: absolute;
  max-width: 230px;
  min-width: 215px;
  background: var(--white-color);
  top: 0;
}
header.style-1 .main-menu ul > li ul.sub-menu > li .sub-menu::before {
  display: none;
  visibility: hidden;
}
@media only screen and (max-width: 991px) {
  header.style-1 .main-menu ul > li ul.sub-menu > li .sub-menu {
    margin-left: 10px;
    position: unset;
    max-width: 230px;
    min-width: 215px;
    background: transparent;
    top: 0;
  }
}
header.style-1 .main-menu ul > li ul.sub-menu > li .sub-menu > li i {
  display: block;
}
header.style-1 .main-menu ul > li ul.sub-menu > li:last-child {
  border-bottom: none;
}
header.style-1 .main-menu ul > li:hover > a {
  color: var(--primary-color);
}
@media (max-width: 991px) {
  header.style-1 .main-menu ul > li:hover > a {
    border-color: transparent;
  }
}
header.style-1 .main-menu ul > li:hover svg {
  opacity: 1;
}
@media (min-width: 992px) {
  header.style-1 .main-menu ul > li:hover > ul.sub-menu {
    display: block;
    animation: fade-up 0.45s linear;
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}
header.style-1 .main-menu ul > li.active > a {
  color: var(--primary-color);
}
@media (max-width: 991px) {
  header.style-1 .main-menu ul > li.active > a {
    border-color: transparent;
  }
}
header.style-1 .main-menu ul > li.active svg {
  opacity: 1;
}
header.style-1 .main-menu ul > li.active .dropdown-icon2 {
  color: var(--primary-color);
}
header.style-1 .main-menu ul li.menu-item-has-children > i {
  display: block;
}
@media only screen and (max-width: 991px) {
  header.style-1 .mobile-logo-area .menu-close-btn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.35s;
  }
  header.style-1 .mobile-logo-area .menu-close-btn i {
    font-size: 26px;
    line-height: 1;
    margin-top: 2px;
    color: var(--title-color);
    transition: 0.35s;
  }
  header.style-1 .mobile-logo-area .menu-close-btn:hover {
    background-color: var(--title-color);
  }
  header.style-1 .mobile-logo-area .menu-close-btn:hover i {
    color: var(--white-color);
  }
  header.style-1 .dropdown-icon {
    color: var(--white-color);
  }
  header.style-1 .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    padding: 30px 20px !important;
    z-index: 99999;
    height: 100%;
    overflow: auto;
    background: #fff;
    border-right: 1px solid #eee;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.03);
  }
  header.style-1 .main-menu.show-menu {
    transform: translateX(0);
  }
  header.style-1 .main-menu .mobile-menu-logo {
    text-align: left;
    padding-top: 20px;
    display: block;
    padding-bottom: 8px;
  }
  header.style-1 .main-menu .menu-list {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  header.style-1 .main-menu > ul {
    float: none;
    text-align: left;
    padding: 5px 0px 20px 0;
  }
  header.style-1 .main-menu > ul > li {
    display: block;
    position: relative;
    padding: 0;
  }
  header.style-1 .main-menu > ul > li i {
    display: block;
  }
  header.style-1 .main-menu > ul > li a {
    padding: 10px 0;
    display: block;
  }
  header.style-1 .main-menu > ul > li ul.sub-menu {
    position: static;
    min-width: 200px;
    background: 0 0;
    border: none;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: none;
    transition: none;
    display: none;
    margin-top: 0 !important;
    transform: translateY(0px);
    padding-left: 10px;
  }
  header.style-1 .main-menu > ul > li ul.sub-menu > li {
    border-bottom: 1px solid transparent;
  }
  header.style-1 .main-menu > ul > li ul.sub-menu > li a {
    color: var(--title-color);
    padding: 12px 0px;
  }
  header.style-1 .main-menu > ul > li ul.sub-menu > li a:hover {
    color: var(--primary-color);
    margin-left: 10px;
  }
  header.style-1 .main-menu > ul > li ul.sub-menu > li a.active {
    color: var(--primary-color);
  }
  header.style-1 .main-menu > ul > li ul.sub-menu > li i {
    color: var(--primary-color);
    right: -13px;
  }
  header.style-1 .main-menu > ul > li .bi {
    top: 8px;
    font-size: 20px;
    color: var(--title-color);
  }
}
header.style-1.two {
  padding: 0 20px;
  position: relative;
}
@media (max-width: 1199px) {
  header.style-1.two {
    padding: 0 10px;
  }
}
@media (max-width: 576px) {
  header.style-1.two {
    padding: 0;
  }
}
header.style-1.two.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-sizing: border-box;
  background-color: var(--white-color);
  box-shadow: 5px 3px 40px rgba(0, 72, 88, 0.1);
  z-index: 9999;
}
@keyframes smooth-header {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
header.style-1.three {
  padding: 0 130px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 1799px) {
  header.style-1.three {
    padding: 0 110px;
  }
}
@media (min-width: 1400px) and (max-width: 1599px) {
  header.style-1.three {
    padding: 0 70px;
  }
}
@media (max-width: 1399px) {
  header.style-1.three {
    padding: 0 40px;
  }
}
@media (max-width: 1199px) {
  header.style-1.three {
    padding: 0 10px;
  }
}
@media (max-width: 991px) {
  header.style-1.three {
    padding: 0;
  }
}
header.style-1.three.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-sizing: border-box;
  background-color: var(--primary-color3);
  box-shadow: 5px 3px 40px rgba(0, 72, 88, 0.1);
  z-index: 9999;
}
@keyframes smooth-header {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
header.style-1.three .primary-btn:hover {
  background-color: var(--white-color);
  color: var(--title-color);
}
header.style-1.three .main-menu ul > li > a {
  color: var(--white-color);
  text-transform: uppercase;
  font-family: var(--font-unbounded);
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  header.style-1.three .main-menu ul > li > a {
    font-size: 13px;
  }
}
header.style-1.three .main-menu ul > li ul.sub-menu {
  background-color: var(--primary-color3);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li i {
  color: var(--white-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li .dropdown-icon {
  color: var(--white-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li .dropdown-icon2 {
  color: var(--title-color);
  opacity: 1;
  top: 14px;
  right: 10px;
  font-size: 13px;
}
@media (max-width: 1199px) {
  header.style-1.three .main-menu ul > li ul.sub-menu > li .dropdown-icon2::before {
    content: "\f4fe";
  }
}
header.style-1.three .main-menu ul > li ul.sub-menu > li > a {
  color: var(--white-color);
  border-bottom: 1px solid rgba(233, 228, 228, 0.25);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li > a::before {
  background: linear-gradient(90deg, #7572FD, #7572FD, #fff);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li > a:hover {
  color: var(--primary-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li > a:hover::before {
  transform: scale(1);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li > a.active {
  color: var(--primary-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li > a.active::before {
  transform: scale(1);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:last-child a {
  border-bottom: none;
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:last-child a::before {
  display: none;
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:last-child .sub-menu li a {
  border-bottom: 1px solid rgba(13, 23, 32, 0.0784313725);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:last-child .sub-menu li a::before {
  display: block;
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:last-child .sub-menu li:last-child a {
  border-bottom: none;
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:last-child .sub-menu li:last-child a::before {
  display: none;
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:hover > a {
  color: var(--primary-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:hover .dropdown-icon {
  color: var(--primary-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:hover .dropdown-icon2 {
  color: var(--primary-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li.active > a {
  color: var(--primary-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li.active .dropdown-icon {
  color: var(--primary-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li.active .dropdown-icon2 {
  color: var(--primary-color);
}
header.style-1.three .main-menu ul > li ul.sub-menu > li .sub-menu {
  left: 100%;
  position: absolute;
  max-width: 230px;
  min-width: 215px;
  background: var(--white-color);
  top: 0;
}
header.style-1.three .main-menu ul > li ul.sub-menu > li .sub-menu::before {
  display: none;
  visibility: hidden;
}
@media only screen and (max-width: 991px) {
  header.style-1.three .main-menu ul > li ul.sub-menu > li .sub-menu {
    margin-left: 10px;
    position: unset;
    max-width: 230px;
    min-width: 215px;
    background: transparent;
    top: 0;
  }
}
header.style-1.three .main-menu ul > li ul.sub-menu > li .sub-menu > li i {
  display: block;
}
header.style-1.three .main-menu ul > li ul.sub-menu > li:last-child {
  border-bottom: none;
}
header.style-1.three .main-menu ul > li:hover > a {
  color: var(--primary-color);
}
@media (max-width: 991px) {
  header.style-1.three .main-menu ul > li:hover > a {
    border-color: transparent;
  }
}
@media (min-width: 992px) {
  header.style-1.three .main-menu ul > li:hover > ul.sub-menu {
    display: block;
    animation: fade-up 0.45s linear;
  }
}
header.style-1.three .main-menu ul > li.active > a {
  color: var(--primary-color);
}
@media (max-width: 991px) {
  header.style-1.three .main-menu ul > li.active > a {
    border-color: transparent;
  }
}
header.style-1.three .main-menu ul > li.active svg {
  opacity: 1;
}
header.style-1.three .main-menu ul > li.active .dropdown-icon2 {
  color: var(--primary-color);
}
header.style-1.three .nav-right .right-sidebar-button svg {
  fill: var(--white-color);
}
@media (max-width: 991px) {
  header.style-1.three .nav-right .mobile-menu-btn svg {
    fill: var(--white-color);
  }
}
@media only screen and (max-width: 991px) {
  header.style-1.three .dropdown-icon {
    color: var(--white-color);
  }
  header.style-1.three .main-menu {
    background: var(--primary-color3);
    border-right: 1px solid rgba(233, 228, 228, 0.25);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.03);
  }
  header.style-1.three .main-menu.show-menu {
    transform: translateX(0);
  }
  header.style-1.three .main-menu .menu-list {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  header.style-1.three .main-menu > ul > li {
    display: block;
    position: relative;
    padding: 0;
  }
  header.style-1.three .main-menu > ul > li i {
    display: block;
  }
  header.style-1.three .main-menu > ul > li a {
    padding: 12px 0;
    display: block;
  }
  header.style-1.three .main-menu > ul > li ul.sub-menu > li {
    border-bottom: 1px solid transparent;
  }
  header.style-1.three .main-menu > ul > li ul.sub-menu > li a {
    color: var(--white-color);
    padding: 12px 0px;
  }
  header.style-1.three .main-menu > ul > li ul.sub-menu > li a:hover {
    color: var(--primary-color);
    margin-left: 10px;
  }
  header.style-1.three .main-menu > ul > li ul.sub-menu > li a.active {
    color: var(--primary-color);
  }
  header.style-1.three .main-menu > ul > li ul.sub-menu > li i {
    color: var(--primary-color);
    right: -13px;
  }
  header.style-1.three .main-menu > ul > li .bi {
    top: 8px;
    font-size: 20px;
    color: var(--white-color);
  }
}

/*=====================================
 03. Sign In Form CSS 
========================================*/
.sign-up-form-wrap {
  padding: 110px 0;
}
.sign-up-form-wrap .sign-up-form-img-area {
  position: relative;
  height: 100%;
}
.sign-up-form-wrap .sign-up-form-img-area img {
  border-radius: 20px 0 0 20px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sign-up-form-wrap .sign-up-form-img-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--primary-color2-opc), 0.2);
  border-radius: 20px 0 0 20px;
}
.sign-up-form-wrap .sign-up-form-img-area .logo-and-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.sign-up-form-wrap .sign-up-form-img-area .logo-and-content .content h5 {
  color: var(--white-color);
  font-family: var(--font-unbounded);
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 35px;
}
.sign-up-form-wrap .sign-up-form-img-area .logo-and-content .content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.sign-up-form-wrap .sign-up-form-img-area .logo-and-content .content ul li a {
  color: #C4C4C4;
  font-family: var(--font-unbounded);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 9px 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #252525;
  border-radius: 50px;
  transition: 0.5s;
}
.sign-up-form-wrap .sign-up-form-img-area .logo-and-content .content ul li a:hover {
  background-color: var(--primary-color);
  color: var(--title-color);
}
.sign-up-form-wrap .sign-up-form {
  padding: 60px 110px;
  background-color: var(--white-color);
  border-radius: 0 20px 20px 0;
}
.sign-up-form-wrap .sign-up-form .title-area {
  margin-bottom: 45px;
}
.sign-up-form-wrap .sign-up-form .title-area h3 {
  color: var(--title-color);
  font-family: var(--font-unbounded);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}
.sign-up-form-wrap .sign-up-form .title-area .have-acc-area {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sign-up-form-wrap .sign-up-form .title-area .have-acc-area span {
  color: var(--paragraph-color);
  font-family: var(--font-unbounded);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.sign-up-form-wrap .sign-up-form .title-area .have-acc-area a {
  color: var(--title-color);
  font-family: var(--font-unbounded);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
}
.sign-up-form-wrap .sign-up-form .primary-btn {
  border: unset;
  width: 100%;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */