/*===========================
     01.COMMON CSS 
===========================*/

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');


:root {
    --font-unbounded: 'Unbounded', sans-serif;
    // Colors ---------------
    --primary-color: #F4CB0A;
    --primary-color-opc: 244, 203, 10;
    --primary-color2: #000000;
    --primary-color2-opc: 0, 0, 0;
    --title-color: #1A1A1A;
    --title-color-opc: 26, 26, 26;
    --white-color: #fff;
    --paragraph-color: #545454;
    --paragraph-color-opc: 84, 84, 84;
    --border-color: #EEEEEE;
    --border-color-opc: 230, 230, 230;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
    box-shadow: unset;
}
input, textarea{
    border-radius: 0px;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: var(--font-unbounded);
  font-weight: 400;
  overflow-x: hidden;
  &.sign-up-staff-bg{
    background-image: url(../img/home/sign-up-staff-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-unbounded);
    font-weight: 500;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}


p {
  margin: 0;
  color: var(--paragraph-color);
  font-family: var(--font-unbounded);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

a{
  text-decoration: none;
}
button{
  border: unset;
}

input,
select,
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


// xl-device=====

@mixin eighteen-down-device {
    @media (max-width: 1799px) {
      @content;
    }
}

@mixin seventeen-down-device {
    @media (max-width: 1699px) {
      @content;
    }
}
  
@mixin fifteen-down-device {
    @media (max-width: 1499px) {
        @content;
    }
}

@mixin xxl-down-device {
    @media (max-width: 1399px) {
        @content;
    }
}
  
@mixin xl-down-device {
    @media (max-width: 1199px) {
        @content;
    }
}
  
@mixin xxl-device {
    @media (min-width: 1400px) and (max-width: 1599px) {
        @content;
    }
}
  
@mixin xl-device {
    @media (min-width: 1200px) and (max-width: 1399px) {
      @content;
    }
}

@mixin lg-device {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}
  
@mixin xl-up-device {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin lg-up-device {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin lg-down-device {
    @media (max-width: 991px) {
        @content;
    }
}

// md-device============
@mixin md-device {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}
  
@mixin xxl-up-device {
    @media (min-width: 1600px) {
        @content;
    }
}
  
@mixin md-up-device {
    @media (min-width: 768px) {
        @content;
    }
}
  
@mixin md-down-device {
    @media (max-width: 767px) {
        @content;
    }
}
  
// sm-device
@mixin sm-device {
    @media (min-width: 576px) and (max-width: 767px) {
        @content;
    }
}
  
@mixin sm-down-device {
    @media (max-width: 576px) {
        @content;
    }
}
  
@mixin sm-mobile-device {
    @media (max-width: 425px) {
        @content;
    }
}
@mixin sm-up-device {
  @media (min-width: 577px) {
      @content;
  }
}
  
@mixin big-mobile-device {
    @media (min-width: 375px) and (max-width: 576px) {
        @content;
    }
}
  
@mixin threefifty-down-device() {
    @media (max-width: 350px) {
        @content;
    }
}

.pt-130 {
    padding-top: 130px;
    @include lg-device() {
      padding-top: 100px;
    }
    @include lg-down-device() {
      padding-top: 90px;
    }
}
  
  
.pb-130 {
    padding-bottom: 130px;
    @include lg-device() {
      padding-bottom: 100px;
    }
    @include lg-down-device() {
      padding-bottom: 90px;
    }
}
.pt-120 {
  padding-top: 120px;
  @include lg-device() {
    padding-top: 90px;
  }
  @include lg-down-device() {
    padding-top: 80px;
  }
}
.pt-110 {
  padding-top: 110px;
  @include lg-device() {
    padding-top: 90px;
  }
  @include lg-down-device() {
    padding-top: 70px;
  }
}
  
.pt-90 {
    padding-top: 90px;
    @include lg-down-device() {
      padding-top: 80px;
    }
    @include md-down-device() {
      padding-top: 70px;
    }
}
  
.pb-90 {
    padding-bottom: 90px;
    @include lg-down-device() {
      padding-bottom: 80px;
    }
    @include md-down-device() {
      padding-bottom: 70px;
    }
}
  
.pb-80 {
    padding-bottom: 80px;
    @include lg-device() {
      padding-bottom: 60px;
    }
}
  
.pb-65 {
    padding-bottom: 65px;
}
  
.mt-130 {
    margin-top: 130px;
  
    @include lg-device() {
      margin-top: 100px;
    }
  
    @include lg-down-device() {
      margin-top: 90px;
    }
}
  

.mt-120 {
    margin-top: 120px;
  
    @include lg-device() {
      margin-top: 100px;
    }
  
    @include lg-down-device() {
      margin-top: 90px;
    }
}
  
.mb-130 {
  margin-bottom: 130px;
  @include lg-device() {
      margin-bottom: 100px;
  }

  @include lg-down-device() {
      margin-bottom: 90px;
  }
}
.mb-120 {
  margin-bottom: 120px;
  @include lg-device() {
    margin-bottom: 90px;
  }

  @include lg-down-device() {
    margin-bottom: 80px;
  }
}
.mb-110 {
  margin-bottom: 110px;
  @include lg-device() {
      margin-bottom: 90px;
  }

  @include lg-down-device() {
      margin-bottom: 80px;
  }
}
  
.mb-100 {
    margin-bottom: 110px;
    @include lg-down-device(){
      margin-bottom: 80px;
    }
}
.mt-100 {
    margin-top: 110px !important;
    @include lg-down-device(){
      margin-top: 80px !important;
    }
}
.mb-90 {
    margin-bottom: 90px;
    @include lg-down-device(){
      margin-bottom: 70px;
    }
    @include md-down-device(){
        margin-bottom: 50px;
    }
}
  
.mb-15 {
    margin-bottom: 15px;
}
.mb-10 {
    margin-bottom: 10px;
}
  
.pt-80 {
    padding-top: 80px;
}
  
.pt-50 {
    padding-top: 50px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-35 {
    padding-top: 35px;
}
.pt-30 {
    padding-top: 30px;
}
  
.pb-80 {
    padding-bottom: 80px;
}
  
  
.pb-60 {
    padding-bottom: 60px;
}
  
 
.mb-60 {
    margin-bottom: 60px;
    @include xl-down-device(){
      margin-bottom: 50px;
    }
    @include lg-down-device() {
        margin-bottom: 40px;
    }
}
  
.mb-70 {
    margin-bottom: 70px;
    @include md-down-device() {
      margin-bottom: 50px;
    }
}
  
.mb-50 {
    margin-bottom: 50px;
    @include xl-down-device(){
      margin-bottom: 40px;
    }
}
  
.mb-45 {
    margin-bottom: 45px;
}
  
.mb-44 {
    margin-bottom: 44px;
  
    @include lg-down-device() {
      margin-bottom: 0px;
    }
}
.mb-40 {
  margin-bottom: 40px;
  @include lg-down-device() {
    margin-bottom: 30px;
  }
}
  
.mb-35 {
    margin-bottom: 35px;
}
  
.mb-20 {
    margin-bottom: 20px;
}
  
.mt-15 {
    margin-top: 15px;
}
  
.mt-40 {
    margin-top: 40px;
}
  
.mt-35 {
    margin-top: 35px;
}
  
.mb-30 {
    margin-bottom: 30px;
}
  
.mb-25 {
    margin-bottom: 25px;
}
.mt-30{
    margin-top: 30px;
}
  
.mt-50 {
    margin-top: 50px;
}
  
.mt-25 {
    margin-top: 25px;
}
  
.mb-50 {
    margin-bottom: 50px;
    @include md-down-device(){
        margin-bottom: 40px;
    }
    @include sm-down-device(){
        margin-bottom: 30px;
    }
}
  
.mt-60 {
    margin-top: 60px;
  
    @include md-down-device() {
      margin-top: 40px;
    }
}
  
.mt-70 {
    margin-top: 70px;
  
    @include md-down-device() {
      margin-top: 40px;
    }
}

.primary-btn {
  border-radius: 5px;
  background-color: var(--primary-color);
  font-family: var(--font-unbounded);
  font-weight: 500;
  font-size: 15px;
  color: var(--title-color);
  padding: 20px 25px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  line-height: 1;
  &::after{
    position: absolute;
    content: "";
    display: block;
    left: 15%;
    right: -20%;
    top: -4%;
    height: 150%;
    width: 150%;
    bottom: 0;
    border-radius: 2px;
    background-color: var(--title-color);
    transform: skewX(45deg) scale(0, 1);
    z-index: -1;
    transition: all 0.5s ease-out 0s;
  }
  &:hover{
    color: var(--white-color);
    &::after{
      transform: skewX(45deg) scale(1, 1);
    }
  }
}
.form-inner{
  position: relative;
  line-height: 1;
  label{
    color: var(--title-color);
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
  }
  input{
    background: #F6F2F8;
    color: var(--title-color);
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 500;  
    height: 56px;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    &::placeholder{
      color: var(--paragraph-color); 
      font-weight: 400;
    }
    &:focus{
      border: 1px solid var(--title-color);
      background-color: var(--white-color);
    }
  }
  textarea{
    background: var(--white-color);
    color: var(--title-color);
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 400;  
    width: 100%;
    padding: 20px 20px;
    outline: none;
    border: 1px solid var(--border-color);
    min-height: 120px;
    border-radius: 5px;
    &::placeholder{
        color: #7C7C7C;
    }
    &:focus{
      border: 1px solid var(--primary-color);
    }
  }
  i{
    position: absolute;
    right: 20px;
    bottom: 18px;
    color: var(--paragraph-color);
    cursor: pointer;
  }
}
.form-inner2{
  .form-check{
    min-height: unset;
    margin-bottom: 0;
    .form-check-input{
      cursor: pointer;
      height: 14px;
      width: 14px;
      margin-top: 5px;
      border-radius: 4px;
      &:focus{
        box-shadow: none;
        border-color: var(--primary-color3);
      }
      &:checked{
        background-color: #0075FF;
        border-color: #0075FF;
      }
    }
    .form-check-label{
      cursor: pointer;
      color: var(--paragraph-color);
      font-family: var(--font-unbounded);
      font-size: 14px;
      font-weight: 400;    
      @include sm-down-device(){
        font-size: 12px;
      }
    }
  }
}
.section-title{
  >span{
    color: var(--primary-color2);
    font-family: var(--font-unbounded);
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
  }
  h2{
    color: var(--title-color);
    font-family: var(--font-unbounded);
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    @include xxl-down-device(){
      font-size: 40px;
    }
    @include md-down-device(){
      font-size: 38px;
    }
    @include sm-down-device(){
      font-size: 32px;
    }
    span{
      color: rgba(var(--title-color-opc), 0.5);
      font-weight: 700;
    }
  }
  p{
    color: var(--paragraph-color);
    font-family: var(--font-unbounded);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 0;
    padding-top: 10px;
    @include md-down-device(){
      font-size: 16px;
    }
  }
  .primary-btn2{
    margin-top: 50px;
    @include lg-down-device(){
      margin-top: 30px;
    }
  }
  &.white{
    h2{
      color: var(--white-color);
    }
    p{
      color: rgba(#fff, 0.7);
    }
  }
  &.two{
    >span{
      display: flex;
      align-items: center;
      gap: 3px;
      text-transform: lowercase;
      font-size: 16px;
      font-weight: 600;
      svg{
        fill: var(--primary-color2);
        min-width: 6px;
      }
    }
    h2{
      span{
        line-height: 1;
        border-bottom: 4px solid rgba(var(--title-color-opc), 0.5);
      }
    }
    &.txt-center{
      text-align: center;
      >span{
        justify-content: center;
      }
    }
    &.white{
      h2{
        color: var(--white-color);
        span{
          color: rgba(#fff, 0.5);
          border-bottom: 4px solid rgba(#fff, 0.5);
        }
      }
    }
  }
  &.three{
    h2{
      color: rgba(var(--title-color2-opc), 0.8);
      font-weight: 600;
      span{
        color: var(--title-color2);
        font-weight: 700;
      }
    }
  }
  &.four{
    >span{
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 3px;
      border-bottom: 1px solid var(--primary-color2);
      display: inline-block;
    }
    h2{
      font-size: 40px;
      color: var(--white-color);
      @include md-down-device(){
        font-size: 38px;
      }
      @include sm-down-device(){
        font-size: 32px;
      }
      span{
        color: rgba(#fff, 0.5);
      }
    }
  }
}
.slider-btn-grp{
  display: flex;
  align-items: center;
  gap: 20px;
  .slider-btn{
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    background-color: rgba(var(--primary-color3-opc), 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    svg{
      fill: var(--white-color);
      transition: 0.5s;
    }
    &:hover{
      background-color: var(--primary-color);
    }
    &.swiper-button-disabled{
      opacity: 0.2;
    }
  }
  &.two{
    .slider-btn{
      background-color: transparent;
      border: 1px solid var(--title-color2);
      svg{
        fill: var(--title-color2);
      }
      &:hover{
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        svg{
          fill: var(--white-color);
        }
      }
    }
  }
}
.nice-select {
  width: 100%;
  background: #F6F2F8;
  border-radius: 5px;
  height: 56px;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0px 25px;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid transparent;
  @include sm-down-device(){
    padding: 0px 18px
  }
  &::after{
    height: unset;
    width: unset;
    border-bottom: unset;
    border-right: unset;
    right: 28px;
    margin-top: -5px;
    content: '\F229';
    font-family: bootstrap-icons;
    transform: unset;
    transition: all 0.15s ease-in-out;
  }
  &.open{
    &::after{
      content: '\F235';
      transform: rotate(0);
    }
  }
  .current{
    color: rgba(var(--title-color-opc), 0.5);
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 500;
  }
  &:focus{
    border-color: var(--title-color);
    background-color: var(--white-color);
  }
  .list{
    border: none;
    border-radius: 5px;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    &::-webkit-scrollbar-thumb {
      background: var(--text-color); 
    }
      
    .option{
      color: var(--title-color);
      font-family: var(--font-unbounded);
      font-size: 14px;
      font-weight: 500;  
      padding-left: 25px;
      padding-right: 25px;
      display: flex;
      align-items:  center;
      justify-content: space-between;
      width: 100%;
      
      
    }
  }
}
/*=====================================
 02. Header CSS 
========================================*/
@keyframes fade-down {
    0% {
      opacity: 0;
      transform: scaleY(0);
      visibility: hidden;
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
      visibility: visible;
    }
}
.topbar-area{
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color);
  margin: 0 20px;
  @include xl-down-device(){
    margin: 0 10px;
  }
  @include lg-down-device(){
    display: none;
  }
  .contact-area{
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 60px;
      @include xl-down-device(){
        gap: 40px;
      }
      li{
        position: relative;
        &::before{
          content: '';
          width: 1px;
          height: 20px;
          background-color: rgba(var(--primary-color3-opc), 0.2);  
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -30px;
          @include xl-down-device(){
            left: -20px;
          }
        }
        &:first-child{
          &::before{
            display: none;
          }
        }
        a{
          svg{
            fill: rgba(var(--title-color-opc), 0.6);
            transition: 0.5s;
          }
          color: rgba(var(--title-color-opc), 0.6);
          font-family: var(--font-unbounded);
          font-size: 15px;
          font-weight: 500;
          line-height: 1;
          display: flex;
          align-items: center;
          gap: 8px;
          transition: 0.5s;
          &:hover{
            svg{
              fill: var(--primary-color2);
            }
            color: var(--primary-color2);
          }
        }
      }
    }
  }
  .social-list{ 
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    li{
      display: block;
      text-align: center;
      a{
        i{
          color: rgba(var(--title-color-opc), 0.6);
          font-size: 18px;
          transition: 0.5s;
        }
      }
      &:hover{
        a{
          i{
            color: var(--primary-color2);
          }
        }
      }
    }
  }
  .address-area{
    svg{
      fill: rgba(var(--title-color-opc), 0.6);
      transition: 0.5s;
    }
    a{
      color: rgba(var(--title-color-opc), 0.6);
      font-family: var(--font-unbounded);
      font-size: 15px;
      font-weight: 500;
      line-height: 1.2;
      transition: 0.5s;
    }
    &:hover{
      svg{
        fill: var(--primary-color2);
      }
      a{
        color: var(--primary-color2);
      }
    }
  }
  &.two{
    padding: 8px 100px;
    margin: 0;
    border-bottom: 1px solid rgba(var(--primary-color3-opc), 0.08);
    @include eighteen-down-device(){
      padding: 8px 90px;
    }
    @include seventeen-down-device(){
      padding: 8px 80px;
    }
    @include xxl-device(){
      padding: 8px 50px;
    }
    @include xxl-down-device(){
      padding: 8px 20px;
    }
  }
}
header.style-1 {
  position: absolute;
  width: 100%;
  z-index: 99;
  transition: all 0.8s ease-out 0s;
  background-color: transparent;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    box-sizing: border-box;
    background-color: var(--white-color);
    box-shadow: 5px 3px 40px rgba(0, 72, 88, 0.1);
    z-index: 9999;

    @keyframes smooth-header {
      0% {
        transform: translateY(-30px);
      }

      100% {
        transform: translateY(0px);
      }
    }
  }
  .header-logo{
    @include lg-down-device(){
      padding: 15px 0;
    }
    a{
      img{
        width: 150px;
        @include lg-device(){
          width: 140px;
        }
        @include sm-down-device(){
          width: 140px;
        }
      }
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    gap: 35px;
    @include xl-down-device(){
      gap: 25px;
    }
    .right-sidebar-button{
      cursor: pointer;
      svg{
        fill: var(--title-color);
      }
    }
    .mobile-menu-btn {
      display: none;
      visibility: hidden;

      @include lg-down-device() {
        display: flex;
        flex-direction: column;
        align-items: end;
        visibility: visible;
        justify-content: center;
        position: relative;
        svg{
          fill: var(--title-color);
        }
      }
    }
  }
  .primary-btn{
    background-color: var(--primary-color2);
    padding: 16px 22px;
    @include lg-device(){
      padding: 14px 16px;
      font-size: 15px;
    }
    @include lg-down-device(){
      padding: 15px 18px;
      width: 100%;
      justify-content: center;
    }
    &:hover{
      background-color: var(--primary-color3);
    }
  }
  .main-menu {
    display: inline-block;
    position: relative;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      >li {
        display: inline-block;
        position: relative;
        svg{
          fill: var(--primary-color);
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
          transition: all .5s ease-out 0s;
          @include xxl-down-device(){
            right: 5px;
          }
          @include xl-down-device(){
              right: 0;
          }
          @include lg-down-device(){
            display: none;
          }
        }
        @include lg-down-device(){
            padding: 22px 0px;
        }
        &:first-child{
            padding-left: 0;
        }

        >a {
          color: var(--title-color);
          display: block;
          text-transform: capitalize;
          padding: 34px 25px;
          position: relative;
          font-family: var(--font-unbounded);
          font-weight: 500;
          font-size: 15px;
          transition: all .5s ease-out 0s;
          position: relative;
          border-radius: 15px;
          line-height: 1;
          @include xxl-down-device(){
            font-size: 14px;
            padding: 34px 20px;
          }
          @include xl-down-device(){
            padding: 34px 15px;
          }
        }

        i {
          font-size: 20px;
          text-align: center;
          color: var(--white-color);
          font-style: normal;
          position: absolute;
          right: -5px;
          top: 35px;
          z-index: 999;
          cursor: pointer;
          display: none;
          transition: all .5s ease-out 0s;
          opacity: 0;

          @include lg-down-device() {
              opacity: 1;
          }

          &.active {
            color: var(--primary-color);
            &::before {
              content: '\F2EA';
            }
          }
        }
        
        ul.sub-menu {
          position: absolute;
          left: 0;
          right: 0;
          top: 82px;
          margin: 0;
          display: none;
          min-width: 215px;
          background: var(--white-color);
          border: 1px solid #0d172014;
          text-align: left; 
          >li {
            i {
              position: absolute;
              top: 10px;
              right: 6px;
              display: block;
              color: var(--title-color);
              font-size: 20px;
            }

            .dropdown-icon {
              color: var(--title-color);
              opacity: 1;
              top: 15px;
              font-size: 13px;
              right: 15px;
              @include lg-down-device(){
                right: 0;
                color: var(--white-color);
                top: 8px;
                font-size: 20px;
              }
            }

            .dropdown-icon2 {
              color: var(--title-color);
              opacity: 1;
              top: 14px;
              right: 10px;
              font-size: 13px;

              @include xl-down-device() {
                &::before {
                  content: '\f4fe';
                }
              }
            }

            padding: 0;
            display: block;
            position: relative;

            >a {
              display: block;
              padding: 14px 20px;
              font-family: var(--font-unbounded);
              color: var(--title-color);
              font-weight: 500;
              text-transform: capitalize;
              font-size: 13px;
              line-height: 1.4;
              -webkit-transition: all .4s ease-out 0s;
              transition: all .4s ease-out 0s;
              position: relative;
              border-radius: 0;
              border: none;
              border-bottom: 1px solid #0d172014;
              &::before {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                background: linear-gradient(90deg, #fff, #7572FD, #fff);
                width: 100%;
                height: 1px;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: left;
                transform-origin: left;
                -webkit-transition: 0.4s ease-in;
                transition: 0.4s ease-in;
                z-index: 1;
              }
              @include lg-down-device{
                border-color: #0d172014;
                &::before {
                  background: linear-gradient(90deg, #525252, #EC6219, #525252);
                }
              }

              &:hover {
                color: var(--primary-color);
                &::before {
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }

              &.active {
                color: var(--primary-color);
                &::before {
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }
            }
            &:last-child{
              a {
                border-bottom: none;
                &::before {
                  display: none;
                }

              }
              .sub-menu {
                li{
                  a{
                    border-bottom: 1px solid #0d172014;
                    &::before {
                      display: block;
                    }
                  }  
                  &:last-child{
                    a {
                      border-bottom: none;
                      &::before {
                        display: none;
                      }
                    }
                  }   
                }
              }
            }
            &:hover {
              >a {
                color: var(--primary-color);
              }

              .dropdown-icon {
                color: var(--primary-color);
              }

              .dropdown-icon2 {
                color: var(--primary-color);
              }
            }

            &.active {
              >a {
                color: var(--primary-color);
              }

              .dropdown-icon {
                color: var(--primary-color);
              }

              .dropdown-icon2 {
                color: var(--primary-color);
              }
            }

            .sub-menu {
              left: 100%;
              // left: auto;
              // right: auto;
              position: absolute;
              max-width: 230px;
              min-width: 215px;
              background: var(--white-color);
              top: 0;
              &::before{
                display: none;
                visibility: hidden;
              }

              @media only screen and (max-width: 991px) {
                margin-left: 10px;
                position: unset;
                max-width: 230px;
                min-width: 215px;
                background: transparent;
                top: 0;
              }

              >li {
                i {
                  display: block;
                }
              }
            }

            &:last-child {
              border-bottom: none;   
            }
          }
        }

        &:hover {
          >a{
            color: var(--primary-color);
            @include lg-down-device(){
              border-color: transparent;
            }
          }
          svg{
            opacity: 1;
          }
          >ul.sub-menu {
            @include lg-up-device(){
              display: block;
              animation: fade-up 0.45s linear;
            }
          }
          @keyframes fade-up {
            0%{
              opacity: 0;
              transform: translateY(10px);
              visibility: hidden;
            }
            100%{
              opacity: 1;
              transform: translateY(0px);
              visibility: visible;
            }
          }
        }

        &.active {
          >a {
            color: var(--primary-color);
            @include lg-down-device(){
              border-color: transparent;
            }
          }
          svg{
            opacity: 1;
          }

          .dropdown-icon2 {
            color: var(--primary-color);
          }

        }
      }
      li.menu-item-has-children>{  
        i {
          display: block;
        }
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .mobile-logo-area {
      .menu-close-btn{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 1px solid var(--title-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.35s;
        i {
          font-size: 26px;
          line-height: 1;
          margin-top: 2px;
          color: var(--title-color);
          transition: 0.35s;
        }
        &:hover{
          background-color: var(--title-color);
          i{
            color: var(--white-color);
          }
        }
      }
    }
    .dropdown-icon {
      color: var(--white-color);
    }

    .main-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 280px;
      padding: 30px 20px !important;
      z-index: 99999;
      height: 100%;
      overflow: auto;
      background: #fff;
      border-right: 1px solid #eee;
      -webkit-transform: translateX(-260px);
      transform: translateX(-100%);
      -webkit-transition: -webkit-transform .3s ease-in;
      transition: -webkit-transform .3s ease-in;
      transition: transform .3s ease-in;
      transition: transform .3s ease-in, -webkit-transform .3s ease-in;
      box-shadow: 0px 2px 20px rgba(#000, 0.03);

      &.show-menu {
        transform: translateX(0);
      }

      .mobile-menu-logo {
        text-align: left;
        padding-top: 20px;
        display: block;
        padding-bottom: 8px;
      }

      .menu-list {
        padding-top: 50px;
        padding-bottom: 30px;
      }

      >ul {
        float: none;
        text-align: left;
        padding: 5px 0px 20px 0;

        >li {
          display: block;
          position: relative;
          padding: 0;

          i {
            display: block;
          }

          a {
            padding: 10px 0;
            display: block;
          }

          ul.sub-menu {
            position: static;
            min-width: 200px;
            background: 0 0;
            border: none;
            opacity: 1;
            visibility: visible;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transform: none;
            transform: none;
            -webkit-transition: none;
            transition: none;
            display: none;
            margin-top: 0 !important;
            transform: translateY(0px);
            padding-left: 10px;

            >li {
              border-bottom: 1px solid transparent;

              a {
                color: var(--title-color);
                padding: 12px 0px;

                &:hover {
                  color: var(--primary-color);
                  margin-left: 10px;
                }
              }

              a.active {
                color: var(--primary-color);
              }

              i {
                color: var(--primary-color);
                right: -13px;
              }
            }
          }

          .bi {
            top: 8px;
            font-size: 20px;
            color: var(--title-color);
          }
        }
      }
    }

  }
  &.two{
    padding: 0 20px;
    position: relative;
    @include xl-down-device(){
      padding: 0 10px;
    }
    @include sm-down-device(){
      padding: 0;
    }
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      box-sizing: border-box;
      background-color: var(--white-color);
      box-shadow: 5px 3px 40px rgba(0, 72, 88, 0.1);
      z-index: 9999;
  
      @keyframes smooth-header {
        0% {
          transform: translateY(-30px);
        }
  
        100% {
          transform: translateY(0px);
        }
      }
    }
  }
  &.three{
    padding: 0 130px;
    border-bottom: 1px solid rgba(#fff, 0.1);
    @include eighteen-down-device(){
      padding: 0 110px;
    }
    @include xxl-device(){
      padding: 0 70px;
    }
    @include xxl-down-device(){
      padding: 0 40px;
    }
    @include xl-down-device(){
      padding: 0 10px;
    }
    @include lg-down-device(){
      padding: 0;
    }
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      box-sizing: border-box;
      background-color: var(--primary-color3);
      box-shadow: 5px 3px 40px rgba(0, 72, 88, 0.1);
      z-index: 9999;
  
      @keyframes smooth-header {
        0% {
          transform: translateY(-30px);
        }
  
        100% {
          transform: translateY(0px);
        }
      }
    }
    .primary-btn{
      &:hover{
        background-color: var(--white-color);
        color: var(--title-color);
      }
    }
    .main-menu {
      ul {
        >li{
          >a {
            color: var(--white-color);
            text-transform: uppercase;
            font-family: var(--font-unbounded);
            font-weight: 500;
            font-size: 14px;
            @include lg-device(){
              font-size: 13px;
            }
          }
          ul.sub-menu {
            background-color: var(--primary-color3);
            >li {
              i {
                color: var(--white-color);
              }
  
              .dropdown-icon {
                color: var(--white-color);
              }
  
              .dropdown-icon2 {
                color: var(--title-color);
                opacity: 1;
                top: 14px;
                right: 10px;
                font-size: 13px;
  
                @include xl-down-device() {
                  &::before {
                    content: '\f4fe';
                  }
                }
              }
              >a {
                color: var(--white-color);
                border-bottom: 1px solid rgba(233, 228, 228, 0.25);
                &::before {
                  background: linear-gradient(90deg, #7572FD, #7572FD, #fff);
                }
                // @include lg-down-device{
                //   border-color: #0d172014;
                //   &::before {
                //     background: linear-gradient(90deg, #525252, #EC6219, #525252);
                //   }
                // }
  
                &:hover {
                  color: var(--primary-color);
                  &::before {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                  }
                }
  
                &.active {
                  color: var(--primary-color);
                  &::before {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                  }
                }
              }
              &:last-child{
                a {
                  border-bottom: none;
                  &::before {
                    display: none;
                  }
  
                }
                .sub-menu {
                  li{
                    a{
                      border-bottom: 1px solid #0d172014;
                      &::before {
                        display: block;
                      }
                    }  
                    &:last-child{
                      a {
                        border-bottom: none;
                        &::before {
                          display: none;
                        }
                      }
                    }   
                  }
                }
              }
              &:hover {
                >a {
                  color: var(--primary-color);
                }
  
                .dropdown-icon {
                  color: var(--primary-color);
                }
  
                .dropdown-icon2 {
                  color: var(--primary-color);
                }
              }
  
              &.active {
                >a {
                  color: var(--primary-color);
                }
  
                .dropdown-icon {
                  color: var(--primary-color);
                }
  
                .dropdown-icon2 {
                  color: var(--primary-color);
                }
              }
  
              .sub-menu {
                left: 100%;
                // left: auto;
                // right: auto;
                position: absolute;
                max-width: 230px;
                min-width: 215px;
                background: var(--white-color);
                top: 0;
                &::before{
                  display: none;
                  visibility: hidden;
                }
  
                @media only screen and (max-width: 991px) {
                  margin-left: 10px;
                  position: unset;
                  max-width: 230px;
                  min-width: 215px;
                  background: transparent;
                  top: 0;
                }
  
                >li {
                  i {
                    display: block;
                  }
                }
              }
  
              &:last-child {
                border-bottom: none;   
              }
            }
          }
          &:hover {
            >a{
              color: var(--primary-color);
              @include lg-down-device(){
                border-color: transparent;
              }
            }
            >ul.sub-menu {
              @include lg-up-device(){
                display: block;
                animation: fade-up 0.45s linear;
              }
            }
          }
          &.active {
            >a {
              color: var(--primary-color);
              @include lg-down-device(){
                border-color: transparent;
              }
            }
            svg{
              opacity: 1;
            }
  
            .dropdown-icon2 {
              color: var(--primary-color);
            }
  
          }
        }
      }
    }
    .nav-right{
      .right-sidebar-button{
        svg{
          fill: var(--white-color);
        }
      }
      .mobile-menu-btn {
        @include lg-down-device() {
          svg{
            fill: var(--white-color);
          }
        }
      }
    }
    @media only screen and (max-width: 991px) {
      .dropdown-icon {
        color: var(--white-color);
      }
  
      .main-menu {
        background: var(--primary-color3);
        border-right: 1px solid rgba(233, 228, 228, 0.25);
        box-shadow: 0px 2px 20px rgba(#000, 0.03);
  
        &.show-menu {
          transform: translateX(0);
        }
        .menu-list {
          padding-top: 50px;
          padding-bottom: 30px;
        }
        >ul {
  
          >li {
            display: block;
            position: relative;
            padding: 0;
  
            i {
              display: block;
            }
  
            a {
              padding: 12px 0;
              display: block;
            }
  
            ul.sub-menu {
  
              >li {
                border-bottom: 1px solid transparent;
  
                a {
                  color: var(--white-color);
                  padding: 12px 0px;
  
                  &:hover {
                    color: var(--primary-color);
                    margin-left: 10px;
                  }
                }
  
                a.active {
                  color: var(--primary-color);
                }
  
                i {
                  color: var(--primary-color);
                  right: -13px;
                }
              }
            }
  
            .bi {
              top: 8px;
              font-size: 20px;
              color: var(--white-color);
            }
          }
        }
      }
  
    }
  }
}
/*=====================================
 03. Sign In Form CSS 
========================================*/
.sign-up-form-wrap{
  padding: 110px 0;
  .sign-up-form-img-area{
    position: relative;
    height: 100%;
    img{
      border-radius: 20px 0 0 20px;
      height: 100%;
      object-fit: cover;
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--primary-color2-opc), 0.2);
      border-radius: 20px 0 0 20px;
    }
    .logo-and-content{
      position: absolute;
      top: 0;
      left: 0;
      padding: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .content{
        h5{
          color: var(--white-color);
          font-family: var(--font-unbounded);
          font-size: 22px;
          font-weight: 500;
          line-height: 1.3;
          margin-bottom: 35px;
        }
        ul{
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          align-items: center;
          gap: 20px;
          flex-wrap: wrap;
          li{   
            a{
              color: #C4C4C4;
              font-family: var(--font-unbounded);
              font-size: 12px;
              font-weight: 500;
              line-height: 1;
              padding: 9px 18px;
              border: 1px solid rgba(#fff, 0.1);
              background-color: #252525;
              border-radius: 50px;
              transition: 0.5s;
              &:hover{
                background-color: var(--primary-color);
                color: var(--title-color);
              }
            }
          }
        }
      }
    }
  }
  .sign-up-form{
    padding: 60px 110px;
    background-color: var(--white-color);
    border-radius: 0 20px 20px 0;
    .title-area{
      margin-bottom: 45px;
      h3{
        color: var(--title-color);
        font-family: var(--font-unbounded);
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 15px;
      }
      .have-acc-area{
        display: flex;
        align-items: center;
        gap: 20px;
        span{
          color: var(--paragraph-color);
          font-family: var(--font-unbounded);
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
        }
        a{
          color: var(--title-color);
          font-family: var(--font-unbounded);
          font-size: 15px;
          font-weight: 600;
          line-height: 1.5;
        }
      }
    }
    .primary-btn{
      border: unset;
      width: 100%;
      justify-content: center;
    }
  }
}